[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/FIGlet"]
	path = bundle/FIGlet
	url = https://github.com/fadein/FIGlet.vim.git
